# Environment Variables (Secrets)
.env

# Database
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env/

# Temp files (Voice notes, etc)
temp/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
